/.quarto/
/_site/*
.sass-cache
.jekyll-metadatai
.ipynb_checkpoints/

**/*.quarto_ipynb

# RStudio / R projects (if applicable)
.Rhistory
.RData
.Rproj.user
.Rproj


#Blog post data
posts/*/data/


# OS files
.DS_Store
Thumbs.db

#image vector files
images/vector_images/*

#data files
*.xlsx